@charset "UTF-8";
/* Fonts
   ========================================================================== */
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Material+Icons|Lato:700,900";
/* ==========================================================================
   Base Styles
   ========================================================================== */
/* Presets
   ========================================================================== */
/* line 4, _base/_presets.scss */
body {
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 18px;
  color: #73879c;
  -webkit-font-smoothing: antialiased;
}

/* line 11, _base/_presets.scss */
a {
  color: #1abb9c;
  transition: all 200ms ease-out;
}
/* line 15, _base/_presets.scss */
a:hover, a:focus {
  color: #148e77;
  text-decoration: none;
}

/* line 22, _base/_presets.scss */
ul {
  /*list-style: none;  TMD, 09/28/17 Removed. */
  position: relative;
  padding-left: 22px;
}

/* line 28, _base/_presets.scss */
p {
  margin-bottom: 20px;
}

/* line 32, _base/_presets.scss */
blockquote {
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
}

/* Background Styles
   ========================================================================== */
/* line 4, _base/_backgrounds.scss */
.bg_colored-1 {
  background-color: #f2f5f7;
}
/* line 7, _base/_backgrounds.scss */
.bg_colored-1 .bordered {
  background: #fff;
}
/* line 11, _base/_backgrounds.scss */
.bg_colored-1 hr {
  border-color: #73879c;
}
/* line 15, _base/_backgrounds.scss */
.bg_colored-1 .forms input, .bg_colored-1 .forms textarea {
  background: #fff;
}
/* line 19, _base/_backgrounds.scss */
.bg_colored-1 .tabs-2-big-top .tab.active {
  background: #fff;
}
/* line 22, _base/_backgrounds.scss */
.bg_colored-1 .tabs-2-big-top .tab.active:after {
  border-top-color: #fff;
}
/* line 27, _base/_backgrounds.scss */
.bg_colored-1 .newsletter input {
  background: rgba(255, 255, 255, 0.65);
}
/* line 29, _base/_backgrounds.scss */
.bg_colored-1 .newsletter input:focus {
  background: rgba(255, 255, 255, 0.65);
}

/* line 38, _base/_backgrounds.scss */
.bg_colored-2 {
  background-color: #2F4052;
  color: #a3b1bf;
}
/* line 42, _base/_backgrounds.scss */
.bg_colored-2 h1,
.bg_colored-2 h2,
.bg_colored-2 h3,
.bg_colored-2 h4 {
  color: #fff;
}
/* line 50, _base/_backgrounds.scss */
.bg_colored-2 .tabs-2-big-top p {
  color: #fff;
}
/* line 56, _base/_backgrounds.scss */
.bg_colored-2 .tabs-2-big-top .tab:hover h1,
.bg_colored-2 .tabs-2-big-top .tab:hover h2,
.bg_colored-2 .tabs-2-big-top .tab:hover h3,
.bg_colored-2 .tabs-2-big-top .tab:hover p,
.bg_colored-2 .tabs-2-big-top .active h1,
.bg_colored-2 .tabs-2-big-top .active h2,
.bg_colored-2 .tabs-2-big-top .active h3,
.bg_colored-2 .tabs-2-big-top .active p {
  color: #506a85;
}
/* line 64, _base/_backgrounds.scss */
.bg_colored-2 .tabs-2-big-top .tab.active {
  background: #fff;
}
/* line 67, _base/_backgrounds.scss */
.bg_colored-2 .tabs-2-big-top .tab.active:after {
  border-top-color: #fff;
}
/* line 73, _base/_backgrounds.scss */
.bg_colored-2 .tab-pane {
  color: #73879c;
}
/* line 76, _base/_backgrounds.scss */
.bg_colored-2 .tab-pane h2,
.bg_colored-2 .tab-pane h3,
.bg_colored-2 .tab-pane h4 {
  color: #506a85;
}

/* line 86, _base/_backgrounds.scss */
.bg_colored-2 .mediaset-title, .bg_colored-2 .mediaset-title-link:before {
  background-color: #f9fafb;
  color: #0000cd;
}

/* line 84, _base/_backgrounds.scss */
.bg_colored-3 {
  background-color: #1abb9c;
  color: #fff;
  padding: 2px 8px;
  margin-top: -2px;
}
/* line 90, _base/_backgrounds.scss */
.bg_colored-3 h1,
.bg_colored-3 h2,
.bg_colored-3 h3,
.bg_colored-3 h4 {
  color: #fff;
}
/* line 97, _base/_backgrounds.scss */
.bg_colored-3 a {
  color: #fff;
}
/* line 101, _base/_backgrounds.scss */
.bg_colored-3 a:hover {
  color: #e1e1e1;
}
/* line 105, _base/_backgrounds.scss */
.bg_colored-3 .btn {
  background: #fff !important;
  color: #1abb9c !important;
}
/* line 109, _base/_backgrounds.scss */
.bg_colored-3 .btn:hover {
  background: #E9E9E9 !important;
  color: #506A85 !important;
}
/* line 117, _base/_backgrounds.scss */
.bg_colored-3 .accordion {
  color: #73879c;
}

/* line 139, _base/_backgrounds.scss */
.bg_colored-3 .mediaset-title, .bg_colored-3 .mediaset-title-link:before {
  background-color: #f9fafb;
  color: #0000cd;
}

/* line 121, _base/_backgrounds.scss */
.bg_colored-3 .tab-pane {
  color: #73879c;
}
/* line 124, _base/_backgrounds.scss */
.bg_colored-3 .tab-pane h1,
.bg_colored-3 .tab-pane h2,
.bg_colored-3 .tab-pane h3,
.bg_colored-3 .tab-pane h4 {
  color: #506a85;
}
/* line 132, _base/_backgrounds.scss */
.bg_colored-3 .icon--lg i,
.bg_colored-3 i.icon--xl {
  color: #fff;
}
/* line 138, _base/_backgrounds.scss */
.bg_colored-3 .tabs-2-big-top h3 {
  color: #506a85;
}
/* line 142, _base/_backgrounds.scss */
.bg_colored-3 .tabs-2-big-top .tab.active {
  background: #fff;
}
/* line 145, _base/_backgrounds.scss */
.bg_colored-3 .tabs-2-big-top .tab.active:after {
  border-top-color: #fff;
}

/* Headings
   ========================================================================== */
/* line 4, _base/_headings.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #506a85;
}

/* line 12, _base/_headings.scss */
h1 {
  font-size: 44px;
  line-height: 130%;
  margin-bottom: 25px;
}

/* line 19, _base/_headings.scss */
h2 {
  font-size: 26px;
  line-height: 130%;
  margin-bottom: 20px;
}
/* line 25, _base/_headings.scss */
h2--small {
  font-size: 26px;
  line-height: 130%;
  margin-bottom: 20px;
}

/* line 32, _base/_headings.scss */
h3 {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 15px;
}
/* line 38, _base/_headings.scss */
h3 + .text-small {
  margin-top: -5px;
}

/* line 43, _base/_headings.scss */
h4 {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 15px;
}

/* line 50, _base/_headings.scss */
h5 {
  font-size: 14px;
  line-height: 160%;
  margin-bottom: 13px;
}

/* line 57, _base/_headings.scss */
h6 {
  font-size: 12px;
  line-height: 160%;
  margin-bottom: 10px;
}

/* Scroll Reveal
   ========================================================================== */
/* line 5, _base/_scroll-reveal.scss */
.sr [class^="reveal"] {
  visibility: hidden;
}

/* Spacing Fix
   ========================================================================== */
/* line 4, _base/_spacing-fix.scss */
.container__wrapper {
  width: 100%;
}

/* ==========================================================================
   Layout Styles
   ========================================================================== */
@media (max-width: 768px) {
  /* Container
     ======================================================================== */
  /* line 4, _layout/_l-container.scss */
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
/* Padding Classes
   ========================================================================== */
/* line 4, _layout/_l-padding-classes.scss */
.inner {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* line 9, _layout/_l-padding-classes.scss */
.inner-md {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* line 14, _layout/_l-padding-classes.scss */
.inner-sm {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* line 19, _layout/_l-padding-classes.scss */
.inner-xs {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 24, _layout/_l-padding-classes.scss */
.inner-top {
  padding-top: 120px;
}

/* line 28, _layout/_l-padding-classes.scss */
.inner-top-md {
  padding-top: 100px;
}

/* line 32, _layout/_l-padding-classes.scss */
.inner-top-sm {
  padding-top: 80px;
}

/* line 36, _layout/_l-padding-classes.scss */
.inner-top-xs {
  padding-top: 40px;
}

/* line 40, _layout/_l-padding-classes.scss */
.inner-bottom {
  padding-bottom: 120px;
}

/* line 44, _layout/_l-padding-classes.scss */
.inner-bottom-md {
  padding-bottom: 100px;
}

/* line 48, _layout/_l-padding-classes.scss */
.inner-bottom-sm {
  padding-bottom: 80px;
}

/* line 52, _layout/_l-padding-classes.scss */
.inner-bottom-xs {
  padding-bottom: 40px;
}

/* line 56, _layout/_l-padding-classes.scss */
.inner-left {
  padding-left: 75px;
}

/* line 60, _layout/_l-padding-classes.scss */
.inner-left-md {
  padding-left: 60px;
}

/* line 64, _layout/_l-padding-classes.scss */
.inner-left-sm {
  padding-left: 45px;
}

/* line 68, _layout/_l-padding-classes.scss */
.inner-left-xs {
  padding-left: 30px;
}

/* line 72, _layout/_l-padding-classes.scss */
.inner-right {
  padding-right: 75px;
}

/* line 76, _layout/_l-padding-classes.scss */
.inner-right-md {
  padding-right: 60px;
}

/* line 80, _layout/_l-padding-classes.scss */
.inner-right-sm {
  padding-right: 45px;
}

/* line 84, _layout/_l-padding-classes.scss */
.inner-right-xs {
  padding-right: 30px;
}

/* ==========================================================================
   Modules
   ========================================================================== */
/* County Branding (The top bar)
   ========================================================================== */
/* line 4, _modules/_m-countybranding.scss */
.countybranding {
  padding: 10px;
  background: #f2f5f7;
  border-bottom: 1px solid #ebe6e0;
}

/* line 10, _modules/_m-countybranding.scss */
.countybranding__logo {
  max-width: 150px;
  opacity: .5;
}
/* line 14, _modules/_m-countybranding.scss */
.countybranding__logo:hover {
  opacity: 1;
}

/* line 19, _modules/_m-countybranding.scss */
.countybranding__skip-banner {
  line-height: 30px;
}

/* TD, 09/20/17. This allows for use of max-width to stop at 1 pixel smaller than small screen size */
/* line 5, _modules/_m-navbar.scss */
.navbar {
  margin: 0;
  padding: 28px 0;
  z-index: 5;
  background: #fff;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}
@media (max-width: 767px) {
  /* line 5, _modules/_m-navbar.scss */
  .navbar {
    padding: 0;
    overflow-x: hidden;
  }
}
/* line 17, _modules/_m-navbar.scss */
.navbar.affix {
  width: 100%;
  top: 0;
  border-radius: 0;
  margin-top: -2px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 10px 10px;
  padding: 4px 0;
}
@media (max-width: 767px) {
  /* line 17, _modules/_m-navbar.scss */
  .navbar.affix {
    position: static;
  }
}
@media (max-width: 767px) {
  /* line 30, _modules/_m-navbar.scss */
  .navbar > .container {
    padding: 0;
  }
}

@media (max-width: 767px) {
  /* line 37, _modules/_m-navbar.scss */
  .navbar-header {
    border-bottom: 1px solid #ebe6e0;
    padding: 0 30px;
  }
}

/* line 44, _modules/_m-navbar.scss */
.navbar-brand {
  padding: 0;
  max-width: 300px;
  line-height: 50px;
}
@media (max-width: 767px) {
  /* line 44, _modules/_m-navbar.scss */
  .navbar-brand {
    margin: 15px 0;
  }
}
/* line 53, _modules/_m-navbar.scss */
.navbar-brand img {
  max-width: 235px;
  max-height: 100%;
}
@media (min-width: 767px) {
  /* line 53, _modules/_m-navbar.scss */
  .navbar-brand img {
    max-width: none;
    height: 100%;
  }
}

@media (max-width: 767px) {
  /* line 65, _modules/_m-navbar.scss */
  .navbar-collapse {
    background-color: #f2f5f7;
    margin: 0;
    padding: 0 20px;
  }
}

/* line 73, _modules/_m-navbar.scss */
.navbar-nav {
  padding-left: 30px;
}
@media (max-width: 767px) {
  /* line 73, _modules/_m-navbar.scss */
  .navbar-nav {
    margin: 0;
    padding: 0;
  }
  /* line 80, _modules/_m-navbar.scss */
  .navbar-nav li + li {
    border-top: 1px solid #ebe6e0;
  }
}
/* line 86, _modules/_m-navbar.scss */
.navbar-nav li > a {
  padding: 15px 20px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 3px;
  bottom: -1px;
  z-index: 1;
  text-transform: uppercase;
  color: #506a85;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}
@media (max-width: 767px) {
  /* line 86, _modules/_m-navbar.scss */
  .navbar-nav li > a {
    border: 0;
  }
}
/* line 102, _modules/_m-navbar.scss */
.navbar-nav li > a:focus, .navbar-nav li > a:hover {
  background-color: #f2f5f7;
  border-color: #ebe6e0;
  color: #1abb9c;
}
/* line 110, _modules/_m-navbar.scss */
.navbar-nav li > a.searchbtn {
  padding-top: 12px;
  padding-bottom: 10px;
}
/* line 116, _modules/_m-navbar.scss */
.navbar-nav li.open > a {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #f2f5f7;
  border-color: #ebe6e0;
  color: #1abb9c;
}
/* line 124, _modules/_m-navbar.scss */
.navbar-nav li.open > a:focus, .navbar-nav li.open > a:hover {
  background-color: #f2f5f7;
  border-color: #ebe6e0;
  color: #1abb9c;
}
@media (max-width: 767px) {
  /* line 115, _modules/_m-navbar.scss */
  .navbar-nav li.open {
    padding-bottom: 20px;
  }
  /* line 135, _modules/_m-navbar.scss */
  .navbar-nav li.open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  /* line 144, _modules/_m-navbar.scss */
  .navbar-nav li.open .dropdown-menu > li {
    padding-left: 20px;
  }
}
/* line 152, _modules/_m-navbar.scss */
.navbar-nav .dropdown-menu {
  padding: 0;
  margin: 0;
  width: 210px;
  background: #f2f5f7;
  border: 1px solid #ebe6e0;
  border-bottom-width: 2px;
  border-bottom-color: #ced2d6;
  border-radius: 3px !important;
  border-top-left-radius: 0 !important;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  z-index: 0;
}
/* line 165, _modules/_m-navbar.scss */
.navbar-nav .dropdown-menu > li > a:hover {
  background-color: #1abb9c;
  text-decoration: none;
  color: #fff;
}

/* line 173, _modules/_m-navbar.scss */
.dropdown-arrow {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  transform: translateY(2px);
}
/* line 187, _modules/_m-navbar.scss */
.dropdown-arrow:before {
  content: '\e5c5';
}

/* line 194, _modules/_m-navbar.scss */
#search {
  width: 100%;
  position: relative;
  top: 0;
}
@media (min-width: 768px) {
  /* line 194, _modules/_m-navbar.scss */
  #search {
    position: fixed;
    top: 133px;
    left: 0;
  }
}

/* line 203, _modules/_m-navbar.scss */
#search-form {
  width: 95%;
  margin: auto;
}
@media (min-width: 768px) {
  /* line 203, _modules/_m-navbar.scss */
  #search-form {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 203, _modules/_m-navbar.scss */
  #search-form {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 203, _modules/_m-navbar.scss */
  #search-form {
    width: 1170px;
  }
}

/* line 219, _modules/_m-navbar.scss */
input#googleinput {
  width: calc(100% - 85px);
  margin: 10px 10px 10px 0;
}

/* Search Form
   ========================================================================== */
/* line 4, _modules/_m-search.scss */
#search-form {
  width: 100 #search-form;
  margin: auto;
}

/* line 8, _modules/_m-search.scss */
.form-control.search-input {
  width: calc(100% - 100px);
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  background-color: #fff;
}

/* Hero
   ========================================================================== */
/* line 4, _modules/_m-hero.scss */
.hero {
  height: 480px;
}
@media (max-width: 768px) {
  /* line 7, _modules/_m-hero.scss */
  .hero--tall-mobile {
    height: 88vh;
  }
}
/* line 13, _modules/_m-hero.scss */
.hero h1 {
  margin: 0;
  font-family: "Lato", "sans-serif";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 115%;
}
/* line 22, _modules/_m-hero.scss */
.hero p {
  margin-top: 15px;
  font-size: 22px;
  line-height: 135%;
}
/* line 29, _modules/_m-hero.scss */
.hero.bg_colored-2 h1 {
  color: #fff;
}
/* line 33, _modules/_m-hero.scss */
.hero.bg_colored-2 p {
  color: #fff;
}
/* line 38, _modules/_m-hero.scss */
.hero > .container {
  height: 100%;
}

/* Section
   ========================================================================== */
/* line 4, _modules/_m-section.scss */
.section__header {
  float: none;
}
/* line 7, _modules/_m-section.scss */
.section__header p {
  font-size: 22px;
  line-height: 150%;
}
/* line 12, _modules/_m-section.scss */
.section__header h2:first-of-type:not(.h2--normal) {
  font-size: 44px;
  line-height: 130%;
  margin-bottom: 25px;
}

/*
 * Features - DEMO Only
 */
@media (max-width: 768px) {
  /* line 6, _modules/_m-features-section.scss */
  #features figure img {
    max-width: 100%;
    height: auto;
  }
}

/* call-to-action
   ========================================================================== */
/* line 4, _modules/_m-call-to-action.scss */
.call-to-action h2 {
  margin: 0;
  font-size: 44px;
  line-height: 130%;
}

/* Footer
   ========================================================================== */
/* line 7, _modules/_m-footer.scss */
.footer {
  background: #283645;
  color: #a3b1bf;
  font-size: 14px;
  line-height: 22px;
  overflow-x: hidden;
}
/* line 14, _modules/_m-footer.scss */
.footer .inner {
  padding-top: 45px;
  padding-bottom: 35px;
}
@media (max-width: 768px) {
  /* line 14, _modules/_m-footer.scss */
  .footer .inner {
    /* 05/31/17, TMD: added to allow Adobe Reader icon to center on mobile screens */
    text-align: center;
  }
}
/* line 22, _modules/_m-footer.scss */
.footer .container > .row {
  margin-left: -25px;
  margin-right: -25px;
}
/* line 28, _modules/_m-footer.scss */
.footer .row .inner {
  padding: 25px;
}
/* line 32, _modules/_m-footer.scss */
.footer .row .inner-left {
  padding-left: 25px;
}
/* line 37, _modules/_m-footer.scss */
.footer h2 {
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 0;
}
/* line 46, _modules/_m-footer.scss */
.footer ul {
  list-style: none;
  position: relative;
}
/* line 50, _modules/_m-footer.scss */
.footer ul.contacts li {
  margin-bottom: 2px;
}
/* line 55, _modules/_m-footer.scss */
.footer p {
  color: #707e8c;
}
/* line 59, _modules/_m-footer.scss */
.footer .container.inner {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  /* line 65, _modules/_m-footer.scss */
  .footer p.pull-left, .footer ul.pull-right {
    float: none !important;
    text-align: center;
  }
}

/* line 73, _modules/_m-footer.scss */
.footer__info > div {
  float: left;
  padding-left: 1rem;
  height: 100%;
}
@media (max-width: 768px) {
  /* line 73, _modules/_m-footer.scss */
  .footer__info > div {
    float: none;
    text-align: center;
  }
}
/* line 84, _modules/_m-footer.scss */
.footer__info img {
  vertical-align: initial;
}

@media (max-width: 768px) {
  /* line 89, _modules/_m-footer.scss */
  .footer__info.pull-left {
    float: none !important;
    text-align: center;
  }
}

/* line 96, _modules/_m-footer.scss */
.footer__menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 101, _modules/_m-footer.scss */
.footer__menu a {
  color: #707e8c;
}
/* line 105, _modules/_m-footer.scss */
.footer__menu li {
  display: inline;
  padding-left: 10px;
}
/* line 110, _modules/_m-footer.scss */
.footer__menu li + li:before {
  display: inline-block;
  content: "·";
  padding-right: 12px;
}

/* Accordion
   ========================================================================== */
/* line 4, _modules/_m-accordion.scss */
.accordion {
  margin-bottom: 0;
}
/* line 7, _modules/_m-accordion.scss */
.accordion .panel {
  background: #f5f7fa;
  border: 1px solid #e6e9ed;
  border-bottom-width: 2px;
  border-radius: 3px;
  box-shadow: none;
}
/* line 14, _modules/_m-accordion.scss */
.accordion .panel + .panel {
  margin-top: 10px;
}
/* line 19, _modules/_m-accordion.scss */
.accordion .bordered {
  background: #fff;
}
/* line 23, _modules/_m-accordion.scss */
.accordion + .accordion {
  margin-top: 20px;
}
/* line 27, _modules/_m-accordion.scss */
.accordion .panel-heading + .panel-collapse .panel-body {
  border-top-color: #e6e9ed;
}

/* line 32, _modules/_m-accordion.scss */
.panel-body {
  padding: 25px;
  color: #73879c;
}

/* line 37, _modules/_m-accordion.scss */
.panel-heading {
  background-color: inherit !important;
  color: inherit !important;
  padding: 0;
  border-color: inherit !important;
}

/* line 44, _modules/_m-accordion.scss */
.panel-title {
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 15px;
  line-height: 1.42857;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 51, _modules/_m-accordion.scss */
.panel-title > a {
  display: block;
  padding: 15px 25px;
  color: #506a85;
  background: #edf0f2;
}
/* line 57, _modules/_m-accordion.scss */
.panel-title > a.collapsed {
  background: #f5f7fa;
  color: #506a85;
}
/* line 61, _modules/_m-accordion.scss */
.panel-title > a.collapsed span:after {
  font-family: "Material Icons";
  content: "\e316";
}
/* line 67, _modules/_m-accordion.scss */
.panel-title > a:hover {
  background: #edf0f2;
  color: #1abb9c;
}
/* line 71, _modules/_m-accordion.scss */
.panel-title > a:hover span {
  color: inherit;
}
/* line 76, _modules/_m-accordion.scss */
.panel-title > a span {
  display: block;
  position: relative;
  top: 0;
  color: #506a85;
  padding-right: 25px;
  transition: all 200ms ease-out;
}
/* line 84, _modules/_m-accordion.scss */
.panel-title > a span:after {
  font-family: "Material Icons";
  content: "\e313";
  position: absolute;
  top: 0;
  right: 0;
  transition: all 200ms ease-out;
}

/* line 96, _modules/_m-accordion.scss */
.text-right .panel-title > a span {
  padding-left: 25px;
  padding-right: 0;
}
/* line 100, _modules/_m-accordion.scss */
.text-right .panel-title > a span:after {
  left: 0;
  right: auto;
}

/* line 107, _modules/_m-accordion.scss */
.text-center .panel-title > a span {
  padding-left: 0;
  padding-right: 0;
}
/* line 111, _modules/_m-accordion.scss */
.text-center .panel-title > a span:after {
  top: -.75em;
  left: 0;
  opacity: 0;
}
/* line 118, _modules/_m-accordion.scss */
.text-center .panel-title > a:hover span {
  top: .5em;
  color: transparent;
}
/* line 122, _modules/_m-accordion.scss */
.text-center .panel-title > a:hover span:after {
  color: #1abb9c;
  top: -.5em;
  opacity: 1;
}

/* Buttons
   ========================================================================== */
/*
 * btn (Regular Button)
 */
/* line 7, _modules/_m-button.scss */
.btn:hover, .btn:focus, .btn:active, .btn.active {
  background: #17a78b;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  transition: all 200ms ease-out;
}

/* line 13, _modules/_m-button.scss */
.btn {
  color: #fff !important;
  background: #1abb9c;
  padding: 11px 20px 13px;
  margin: 15px 0;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}
/* line 44, _modules/_m-button.scss */
.btn.navbar-toggle {
  padding: 9px 10px;
}
/* line 47, _modules/_m-button.scss */
.btn.navbar-toggle i {
  display: table-cell;
  vertical-align: middle;
}

/* line 54, _modules/_m-button.scss */
.btn-large {
  padding: 14px 26px 16px;
  font-size: 15px;
}

/* line 59, _modules/_m-button.scss */
button.btn.btn-default.btn-submit.disabled:hover {
  /* Added 5/23/17, TMD */
  background-color: #ccc;
  color: #666 !important;
}

/*
 * txt-btn (Text Button)
 */
/* line 67, _modules/_m-button.scss */
.txt-btn {
  font-size: 105%;
  font-weight: 700;
  text-decoration: none !important;
}
/* line 72, _modules/_m-button.scss */
.txt-btn:after {
  content: '\e5c8';
  margin-left: 7px;
  font-family: "Material Icons";
  font-size: 75%;
  transition: all 200ms ease-out;
}

/* Contacts
   ========================================================================== */
/* line 4, _modules/_m-contacts.scss */
ul.contacts {
  padding-left: 0;
}
/* line 7, _modules/_m-contacts.scss */
ul.contacts li {
  margin-bottom: 5px;
}

/* line 12, _modules/_m-contacts.scss */
i.contact {
  font-size: inherit;
  margin-right: 5px;
  width: auto;
  height: auto;
  line-height: 18px;
  transform: translateY(2px);
}

/* Forms
   ========================================================================== */
/* line 13, _modules/_m-forms.scss */
textarea, textarea.form-control, .uneditable-input, select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 25px;
  color: #73879c;
  resize: none;
  vertical-align: middle;
  box-shadow: none;
  background-color: #f5f5f5;
  border: 1px solid #ebe6e0;
  border-radius: 0;
}

/* line 40, _modules/_m-forms.scss */
.forms {
  position: relative;
  padding: 0;
  width: 100%;
}
/* line 45, _modules/_m-forms.scss */
.forms ol {
  margin: 0;
  padding: 0;
}
/* line 49, _modules/_m-forms.scss */
.forms ol li {
  line-height: auto;
  list-style: none;
}
/* line 55, _modules/_m-forms.scss */
.forms .btn-submit {
  margin-bottom: 0;
}
/* line 59, _modules/_m-forms.scss */
.forms .error {
  border: 1px solid #d99898;
}
/* line 61, _modules/_m-forms.scss */
.forms .error:focus {
  border: 1px solid #d99898;
}
/* line 66, _modules/_m-forms.scss */
.forms label {
  display: block;
  float: left;
  width: 95px;
  padding-top: 7px;
  font-size: 13px;
  clear: both;
}
/* line 75, _modules/_m-forms.scss */
.forms input {
  background: #f5f7fa;
  border-radius: 3px;
}
/* line 80, _modules/_m-forms.scss */
.forms textarea {
  background: #f5f7fa;
  border-radius: 3px;
}

/* line 86, _modules/_m-forms.scss */
.forms__title {
  margin-bottom: 6px;
}

/* line 89, _modules/_m-forms.scss */
.forms__key {
  margin-bottom: 20px;
}

/* line 94, _modules/_m-forms.scss */
.form-container .response {
  display: none;
}
/* line 98, _modules/_m-forms.scss */
.form-container:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 107, _modules/_m-forms.scss */
input:not([type="radio"]) {
  width: 100%;
}
/* line 110, _modules/_m-forms.scss */
input:not([type="radio"]):focus::-webkit-input-placeholder {
  color: transparent !important;
}
/* line 115, _modules/_m-forms.scss */
input:not([type="radio"]):focus:-moz-placeholder {
  color: transparent !important;
}
/* line 119, _modules/_m-forms.scss */
input:not([type="radio"]):focus:-ms-input-placeholder {
  color: transparent !important;
}
/* line 124, _modules/_m-forms.scss */
input:not([type="radio"]):focus::-moz-placeholder {
  color: transparent !important;
}

/* line 129, _modules/_m-forms.scss */
textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-bottom: 15px;
  min-height: 150px;
  resize: vertical;
}
/* line 138, _modules/_m-forms.scss */
textarea.form-control {
  padding: 10px;
}
/* line 142, _modules/_m-forms.scss */
textarea.form-control:focus {
  border: 1px solid #bcc7d1;
  box-shadow: none;
}
/* line 148, _modules/_m-forms.scss */
textarea:focus {
  border: 1px solid #bcc7d1;
  box-shadow: none;
}

/* line 154, _modules/_m-forms.scss */
.uneditable-input {
  width: 100%;
}
/* line 158, _modules/_m-forms.scss */
.uneditable-input:focus {
  border: 1px solid #bcc7d1;
  box-shadow: none;
}

/* line 165, _modules/_m-forms.scss */
.navbar-form .form-control {
  width: 100%;
}
/* line 169, _modules/_m-forms.scss */
.navbar-form.search .btn-submit {
  width: 30px;
  height: 30px;
}

/* line 182, _modules/_m-forms.scss */
input[type="text"]:focus {
  border: 1px solid #bcc7d1;
  box-shadow: none;
}

/* line 190, _modules/_m-forms.scss */
input[type="password"]:focus {
  border: 1px solid #bcc7d1;
  box-shadow: none;
}

/* line 198, _modules/_m-forms.scss */
input[type="datetime"]:focus {
  border: 1px solid #bcc7d1;
  box-shadow: none;
}

/* line 207, _modules/_m-forms.scss */
input[type="datetime-local"]:focus {
  border: 1px solid #bcc7d1;
  box-shadow: none;
}

/* line 216, _modules/_m-forms.scss */
input[type="date"]:focus {
  border: 1px solid #bcc7d1;
  box-shadow: none;
}

/* line 225, _modules/_m-forms.scss */
input[type="month"]:focus {
  border: 1px solid #bcc7d1;
  box-shadow: none;
}

/* line 234, _modules/_m-forms.scss */
input[type="time"]:focus {
  border: 1px solid #bcc7d1;
  box-shadow: none;
}

/* line 243, _modules/_m-forms.scss */
input[type="week"]:focus {
  border: 1px solid #bcc7d1;
  box-shadow: none;
}

/* line 252, _modules/_m-forms.scss */
input[type="number"]:focus {
  border: 1px solid #bcc7d1;
  box-shadow: none;
}

/* line 261, _modules/_m-forms.scss */
input[type="email"]:focus {
  border: 1px solid #bcc7d1;
  box-shadow: none;
}

/* line 270, _modules/_m-forms.scss */
input[type="url"]:focus {
  border: 1px solid #bcc7d1;
  box-shadow: none;
}

/* line 279, _modules/_m-forms.scss */
input[type="search"]:focus {
  border: 1px solid #bcc7d1;
  box-shadow: none;
}

/* line 288, _modules/_m-forms.scss */
input[type="tel"]:focus {
  border: 1px solid #bcc7d1;
  box-shadow: none;
}

/* line 297, _modules/_m-forms.scss */
input[type="color"]:focus {
  border: 1px solid #bcc7d1;
  box-shadow: none;
}

/* line 303, _modules/_m-forms.scss */
.btn-submit {
  width: auto;
}

/* line 308, _modules/_m-forms.scss */
#response ul.errors {
  margin-bottom: 25px;
}
/* line 312, _modules/_m-forms.scss */
#response .btn i {
  font-size: 12px;
}

/* line 317, _modules/_m-forms.scss */
.form-control::-webkit-input-placeholder {
  color: #bcc7d1;
}

/* line 322, _modules/_m-forms.scss */
.form-control:-moz-placeholder {
  color: #bcc7d1;
}
/* line 326, _modules/_m-forms.scss */
.form-control:-ms-input-placeholder {
  color: #bcc7d1;
}

/* line 331, _modules/_m-forms.scss */
.form-control::-moz-placeholder {
  color: #bcc7d1;
}

/* line 335, _modules/_m-forms.scss */
.form-inline .form-control {
  width: 100%;
}

/* Icon
   ========================================================================== */
/* line 4, _modules/_m-icon.scss */
.icon--lg {
  display: inline-block;
  margin-bottom: 20px;
  transition: all 200ms ease-out;
}
/* line 9, _modules/_m-icon.scss */
.icon--lg i {
  font-size: 85px;
  color: #1abb9c;
}

/* line 15, _modules/_m-icon.scss */
.icon-overlay {
  display: block;
  position: relative;
}
/* line 19, _modules/_m-icon.scss */
.icon-overlay img {
  display: block;
  max-width: 100%;
}
/* line 25, _modules/_m-icon.scss */
.icon-overlay a .icn-more {
  opacity: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-decoration: none;
  width: 100%;
  z-index: 100;
  background-color: rgba(26, 187, 156, 0.9);
  overflow: hidden;
}
/* line 37, _modules/_m-icon.scss */
.icon-overlay a .icn-more:before {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  position: absolute;
  text-align: center;
  content: '\e145';
  width: 60px;
  height: 60px;
  font-size: 60px;
  line-height: 1;
  color: #fff;
  top: 50%;
  left: 50%;
  z-index: 2;
  margin: -30px 0 0 -30px;
  transition: all 200ms ease-out;
}
/* line 60, _modules/_m-icon.scss */
.icon-overlay a:hover .icn-more {
  opacity: 1;
}
/* line 62, _modules/_m-icon.scss */
.icon-overlay a:hover .icn-more:before {
  font-size: 30px;
  padding-top: 15px;
}
/* line 69, _modules/_m-icon.scss */
.icon-overlay.icn-link a .icn-more:before {
  content: '\e145';
}

/* line 74, _modules/_m-icon.scss */
.icon--xl {
  font-size: 12em;
}

/* Media Set
   ========================================================================== */

.mediaset img {
	width: 100%;
}
.mediaset a img:hover { 
	opacity: .8; 
}
.mediaset a i:hover { 
	opacity: .8; 
	font-weight: bold; 
}
.mediaset p { 
	margin-top: 20px;
}
.mediaset-title { 
	text-align: left; 
	background-color: $color_accent-2; 
	color: darken($color_accent-2,40%);
	margin: 0; 
	padding: .2em .5em; 
	position: relative; 
}
.mediaset-title-link { 
	display: block; 
	position: relative; 
	padding-right: 36px; 
}
.mediaset-title-link:before { 
	content: "\203a"; 
	position: absolute; 
	right: 0; 
	height: 100%; 
	padding: 0 15px; 
	font-weight: bold; 
	font-size: 24px; 
	background-color: $color_accent-2; 
	color: darken($color_accent-2,40%);
}

/* Member
   ========================================================================== */
/* line 5, _modules/_m-member.scss */
.member h2 {
  font-size: 26px;
  line-height: 130%;
  margin-bottom: 20px;
}
/* line 11, _modules/_m-member.scss */
.member .icon-overlay {
  display: inline-block;
}
/* line 14, _modules/_m-member.scss */
.member .icon-overlay span {
  border-radius: 50%;
}
/* line 19, _modules/_m-member.scss */
.member .img-circle {
  max-width: 200px;
  max-height: 200px;
}
/* line 24, _modules/_m-member.scss */
.member .member-image {
  position: relative;
}
/* line 28, _modules/_m-member.scss */
.member figcaption {
  position: relative;
  padding-top: 35px;
  z-index: 0;
}
/* line 33, _modules/_m-member.scss */
.member figcaption.bordered {
  padding: 20px 15px 15px;
}
/* line 37, _modules/_m-member.scss */
.member figcaption h3 {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 10px;
}
/* line 42, _modules/_m-member.scss */
.member figcaption h3 span {
  display: block;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 400;
  letter-spacing: 0.015em;
  font-size: 14px;
  line-height: 120%;
  margin-top: 4px;
}
/* line 53, _modules/_m-member.scss */
.member figcaption blockquote {
  font-size: 16px;
  font-style: italic;
  line-height: 160%;
  margin-bottom: 20px;
}
/* line 59, _modules/_m-member.scss */
.member figcaption blockquote:before {
  display: inline;
  position: relative;
  content: "\201C";
  font-family: inherit;
  font-size: inherit;
  margin-right: 2px;
}
/* line 68, _modules/_m-member.scss */
.member figcaption blockquote:after {
  content: "\201D";
  margin-left: 2px;
}
/* line 74, _modules/_m-member.scss */
.member figcaption h2 span {
  display: block;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 400;
  letter-spacing: 0.015em;
  font-size: 18px;
  line-height: 140%;
  margin-top: 5px;
}

/* Modal
   ========================================================================== */
/* line 7, _modules/_m-modal.scss */
.modal {
  z-index: 9000;
  background: none;
}
/* line 11, _modules/_m-modal.scss */
.modal.fade {
  transition: opacity 200ms ease-out;
}
/* line 14, _modules/_m-modal.scss */
.modal.fade .modal-dialog {
  transition: none;
  transform: translate(0);
}
/* line 20, _modules/_m-modal.scss */
.modal .container {
  width: 100%;
  max-width: 1170px;
  padding-left: 50px;
  padding-right: 50px;
}

/* line 29, _modules/_m-modal.scss */
.modal-open .modal {
  overflow: hidden;
}
/* line 33, _modules/_m-modal.scss */
.modal-open #scrollUp {
  transition: none;
  opacity: 0;
}

/* line 39, _modules/_m-modal.scss */
.modal-backdrop {
  background-color: #f2f5f7;
}
/* line 42, _modules/_m-modal.scss */
.modal-backdrop.in {
  opacity: .95;
}

/* line 47, _modules/_m-modal.scss */
.modal-dialog {
  position: absolute;
  top: 35px;
  bottom: 35px;
  left: 35px;
  right: 35px;
  width: calc(100% - 70px);
  margin: auto;
}

/* line 57, _modules/_m-modal.scss */
.modal-full {
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
/* line 65, _modules/_m-modal.scss */
.modal-full .modal-content {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

/* line 72, _modules/_m-modal.scss */
.modal-lg {
  max-width: 100%;
  max-height: 100%;
}

/* line 77, _modules/_m-modal.scss */
.modal-md {
  max-width: 1170px;
  max-height: 800px;
}

/* line 82, _modules/_m-modal.scss */
.modal-sm {
  max-width: 750px;
  max-height: 500px;
}

/* line 87, _modules/_m-modal.scss */
.modal-xs {
  max-width: 480px;
  max-height: 350px;
}

/* line 92, _modules/_m-modal.scss */
.modal-video {
  max-width: 1170px;
  max-height: 800px;
  overflow-y: hidden;
}

/* line 98, _modules/_m-modal.scss */
.modal-content {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  border: none;
  border-bottom: 2px solid #ced2d6;
  border-radius: 3px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* line 110, _modules/_m-modal.scss */
.modal-header {
  position: relative;
  z-index: 1;
  height: 70px;
  padding: 22px 25px;
  background-color: #fff;
  border-bottom: 1px solid #ebe6e0;
}
/* line 118, _modules/_m-modal.scss */
.modal-header .close {
  float: right;
  font-size: 24px;
  font-weight: 400;
  color: #506a85;
  text-shadow: none;
  margin-top: 0;
  margin-left: 25px;
  transition: all 200ms ease-out;
}
/* line 128, _modules/_m-modal.scss */
.modal-header .close:hover {
  opacity: 1 !important;
}
/* line 132, _modules/_m-modal.scss */
.modal-header .close:focus {
  opacity: 1 !important;
}

/* line 138, _modules/_m-modal.scss */
.modal-title {
  display: block;
  color: #506a85 !important;
  line-height: 150%;
  font-size: 18px;
  letter-spacing: 0.025em;
  font-family: 'Lato', 'sans-serif';
  font-weight: 700;
}

/* line 149, _modules/_m-modal.scss */
.no-modal-header .modal-header {
  background-color: transparent;
  padding-right: 40px;
  border-bottom: none;
}
/* line 154, _modules/_m-modal.scss */
.no-modal-header .modal-header .modal-title {
  display: none;
}
/* line 159, _modules/_m-modal.scss */
.no-modal-header .modal-body {
  top: 0;
}

/* line 165, _modules/_m-modal.scss */
.no-modal-footer .modal-footer {
  display: none;
}
/* line 169, _modules/_m-modal.scss */
.no-modal-footer .modal-body {
  bottom: 0;
}

/* line 174, _modules/_m-modal.scss */
.modal-body {
  position: absolute;
  top: 70px;
  bottom: 75px;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 184, _modules/_m-modal.scss */
.modal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #fff;
  border-top: 1px solid #ebe6e0;
}
/* line 192, _modules/_m-modal.scss */
.modal-footer .btn {
  margin: 0;
}

/* line 197, _modules/_m-modal.scss */
.bg_colored-2.no-modal-header .modal-header .close {
  color: #fff;
  opacity: .4;
}

/* line 202, _modules/_m-modal.scss */
.bg_colored-3.no-modal-header .modal-header .close {
  color: #fff;
  opacity: .4;
}

/* Newsletter
   ========================================================================== */
/* line 7, _modules/_m-newsletter.scss */
.newsletter {
  position: relative;
}
/* line 10, _modules/_m-newsletter.scss */
.newsletter input {
  /*background: $white_15;*/
  padding-right: 100px;
  border-radius: 3px;
  border: none;
  /*color: $color_white !important;*/
  font-size: 13px;
}
/* line 18, _modules/_m-newsletter.scss */
.newsletter input:focus {
  background: rgba(255, 255, 255, 0.2);
}
/* line 23, _modules/_m-newsletter.scss */
.newsletter .btn-submit {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;
  color: #fff;
  /* !important; Removed, TMD 07/31/17 */
  line-height: 1;
}

/* line 35, _modules/_m-newsletter.scss */
.newsletter .btn-submit {
  width: 88px;
  height: 30px;
  font-size: 13px;
}

/* Sidelines
   ========================================================================== */
/* line 9, _modules/_m-sidelines.scss */
.sidelines {
  position: relative;
  line-height: 100%;
  border-bottom: 1px solid #ced7e0;
  margin-top: -.35em;
  margin-bottom: 1.5em;
}
/* line 16, _modules/_m-sidelines.scss */
.sidelines span {
  position: relative;
  top: .5em;
  background: #fff;
  padding: 0 .5em 0 0;
}
/* line 23, _modules/_m-sidelines.scss */
.sidelines.text-right span {
  padding: 0 0 0 .5em;
}
/* line 27, _modules/_m-sidelines.scss */
.sidelines.text-center span {
  padding: 0 .5em;
}

/* line 32, _modules/_m-sidelines.scss */
.text-right .sidelines span {
  padding: 0 0 0 .5em;
}

/* line 36, _modules/_m-sidelines.scss */
.text-center .sidelines span {
  padding: 0 .5em;
}

/* line 40, _modules/_m-sidelines.scss */
.team-headline.sidelines {
  margin-top: -20px;
  margin-bottom: 40px;
}

/* line 45, _modules/_m-sidelines.scss */
.bg_colored-1 .sidelines {
  border-color: #bcc7d1;
}
/* line 48, _modules/_m-sidelines.scss */
.bg_colored-1 .sidelines span {
  background: #f2f5f7;
}

/* line 52, _modules/_m-sidelines.scss */
.bg_colored-2 .sidelines {
  border-color: #73879c;
}
/* line 55, _modules/_m-sidelines.scss */
.bg_colored-2 .sidelines span {
  background: #2f4052;
}

/* Tabs
   ========================================================================== */
/*
 * Circle Tabs
 */
/* line 9, _modules/_m-tabs.scss */
.tabs-circle-top .etabs {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 2;
}
/* line 15, _modules/_m-tabs.scss */
.tabs-circle-top .etabs:before {
  content: '';
  display: block;
  border-bottom: 1px solid #ced2d6;
  margin: 65px 0 -65px;
}
@media (max-width: 1200px) {
  /* line 15, _modules/_m-tabs.scss */
  .tabs-circle-top .etabs:before {
    margin: 50px 0 -50px;
  }
}
@media (max-width: 768px) {
  /* line 15, _modules/_m-tabs.scss */
  .tabs-circle-top .etabs:before {
    border-bottom: none;
    margin: 0;
  }
}
/* line 32, _modules/_m-tabs.scss */
.tabs-circle-top .tab {
  display: inline-block;
  height: 160px;
  position: relative;
  top: 0;
  margin: 0 15px;
  transition: all 200ms ease-out;
}
@media (max-width: 1200px) {
  /* line 32, _modules/_m-tabs.scss */
  .tabs-circle-top .tab {
    height: 130px;
    margin: 0 5px;
  }
}
@media (max-width: 768px) {
  /* line 32, _modules/_m-tabs.scss */
  .tabs-circle-top .tab {
    display: table;
    width: 100%;
    height: auto;
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  /* line 52, _modules/_m-tabs.scss */
  .tabs-circle-top .tab.active a {
    height: 130px !important;
    width: 130px !important;
    max-width: 130px !important;
    font-size: 13px !important;
  }
}
@media (max-width: 1200px) {
  /* line 60, _modules/_m-tabs.scss */
  .tabs-circle-top .tab.active a div {
    font-size: 44px;
  }
}
@media (max-width: 768px) {
  /* line 67, _modules/_m-tabs.scss */
  .tabs-circle-top .tab:first-child a {
    border-top: 1px solid #ced2d6;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}
@media (max-width: 768px) {
  /* line 75, _modules/_m-tabs.scss */
  .tabs-circle-top .tab:last-child a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
/* line 82, _modules/_m-tabs.scss */
.tabs-circle-top .tab a {
  display: table-cell;
  vertical-align: middle;
  width: 130px;
  height: 130px;
  max-width: 130px;
  background: #fff;
  color: #506a85;
  font-size: 14px;
  line-height: 130%;
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px;
  border: 1px solid #ced2d6;
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 1200px) {
  /* line 82, _modules/_m-tabs.scss */
  .tabs-circle-top .tab a {
    width: 100px;
    height: 100px;
    max-width: 100px;
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  /* line 82, _modules/_m-tabs.scss */
  .tabs-circle-top .tab a {
    width: 100%;
    max-width: 100%;
    height: auto;
    font-size: 18px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: none;
    border-radius: 0;
  }
}
/* line 118, _modules/_m-tabs.scss */
.tabs-circle-top .tab a div {
  font-family: "Lato", "sans-serif";
  font-size: 40px;
  line-height: 100%;
  font-weight: 200;
  margin: -10px 0 5px;
}
@media (max-width: 1200px) {
  /* line 118, _modules/_m-tabs.scss */
  .tabs-circle-top .tab a div {
    font-size: 33px;
  }
}
@media (max-width: 768px) {
  /* line 118, _modules/_m-tabs.scss */
  .tabs-circle-top .tab a div {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    line-height: 120%;
    padding-bottom: 5px;
    margin: 0 10px 0 0;
  }
}
/* line 139, _modules/_m-tabs.scss */
.tabs-circle-top .tab a:hover {
  background-color: #f5f7fa;
  border-color: #ced2d6 !important;
}
@media (max-width: 768px) {
  /* line 139, _modules/_m-tabs.scss */
  .tabs-circle-top .tab a:hover {
    border-width: 1px;
    border-top: none;
  }
}
/* line 150, _modules/_m-tabs.scss */
.tabs-circle-top .tab i {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  transform: translateY(5px);
}
/* line 167, _modules/_m-tabs.scss */
.tabs-circle-top .tab.active {
  top: -15px;
}
@media (max-width: 768px) {
  /* line 167, _modules/_m-tabs.scss */
  .tabs-circle-top .tab.active {
    top: 0;
  }
}
/* line 174, _modules/_m-tabs.scss */
.tabs-circle-top .tab.active a {
  height: 160px;
  width: 160px;
  max-width: 160px;
  background: #1abb9c;
  font-size: 15px;
  line-height: 140%;
  color: #fff;
  border: 1px solid #1abb9c;
}
@media (max-width: 768px) {
  /* line 174, _modules/_m-tabs.scss */
  .tabs-circle-top .tab.active a {
    width: 100%;
    max-width: 100%;
    height: auto;
    font-size: 18px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: none;
    border-radius: 0;
  }
}
/* line 196, _modules/_m-tabs.scss */
.tabs-circle-top .tab.active a:hover {
  border-color: transparent !important;
}
@media (min-width: 768px) {
  /* line 200, _modules/_m-tabs.scss */
  .tabs-circle-top .tab.active a i {
    font-size: 70px;
  }
}
/* line 209, _modules/_m-tabs.scss */
.tabs-circle-top.tab-container .panel-container {
  position: relative;
  margin-top: 30px;
  z-index: 1;
}
/* line 214, _modules/_m-tabs.scss */
.tabs-circle-top.tab-container .panel-container p {
  margin: 0;
  padding-bottom: 20px;
}

/*
 * Two Big Tabs and Screen
 */
/* line 225, _modules/_m-tabs.scss */
.tabs-2-big-top .tab:before, .tabs-2-big-top .tab:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
  transition: all 200ms ease-out;
}

/* line 238, _modules/_m-tabs.scss */
.tabs-2-big-top .etabs {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 2;
}
/* line 245, _modules/_m-tabs.scss */
.tabs-2-big-top .tab {
  position: relative;
  display: inline-block;
  width: 40%;
  border-bottom: 2px solid transparent;
  border-radius: 3px;
  margin: 0 15px;
  transition: all 200ms ease-out;
}
@media (max-width: 768px) {
  /* line 245, _modules/_m-tabs.scss */
  .tabs-2-big-top .tab {
    width: 100%;
    margin: 0 0 50px 0;
  }
}
/* line 259, _modules/_m-tabs.scss */
.tabs-2-big-top .tab:before {
  border-width: 23px;
  margin-left: -23px;
}
/* line 265, _modules/_m-tabs.scss */
.tabs-2-big-top .tab:after {
  border-width: 20px;
  margin-left: -20px;
}
/* line 271, _modules/_m-tabs.scss */
.tabs-2-big-top .tab a {
  display: block;
  padding: 35px;
  color: #506a85;
  opacity: 0.5;
}
@media (max-width: 768px) {
  /* line 271, _modules/_m-tabs.scss */
  .tabs-2-big-top .tab a {
    padding: 25px;
  }
}
/* line 281, _modules/_m-tabs.scss */
.tabs-2-big-top .tab a p {
  margin-bottom: 0;
}
/* line 286, _modules/_m-tabs.scss */
.tabs-2-big-top .tab:hover {
  background: #f2f5f7;
  border-color: #ebe6e0;
}
/* line 290, _modules/_m-tabs.scss */
.tabs-2-big-top .tab:hover:before {
  border-top-color: #ebe6e0;
}
/* line 294, _modules/_m-tabs.scss */
.tabs-2-big-top .tab:hover:after {
  border-top-color: #f2f5f7;
}
/* line 298, _modules/_m-tabs.scss */
.tabs-2-big-top .tab:hover a {
  opacity: 1;
}
/* line 303, _modules/_m-tabs.scss */
.tabs-2-big-top .tab.active {
  background: #f2f5f7;
  border-color: #ebe6e0;
}
/* line 307, _modules/_m-tabs.scss */
.tabs-2-big-top .tab.active:before {
  border-top-color: #ebe6e0;
}
/* line 311, _modules/_m-tabs.scss */
.tabs-2-big-top .tab.active:after {
  border-top-color: #f2f5f7;
}
/* line 315, _modules/_m-tabs.scss */
.tabs-2-big-top .tab.active a {
  opacity: 1;
}
/* line 321, _modules/_m-tabs.scss */
.tabs-2-big-top.tab-container .panel-container {
  position: relative;
  margin-top: 80px;
  z-index: 1;
}
@media (max-width: 768px) {
  /* line 321, _modules/_m-tabs.scss */
  .tabs-2-big-top.tab-container .panel-container {
    margin-top: 0;
  }
}
/* line 330, _modules/_m-tabs.scss */
.tabs-2-big-top.tab-container .panel-container p {
  margin: 0;
  padding-bottom: 20px;
}

/* line 339, _modules/_m-tabs.scss */
.screen-container {
  position: relative;
  width: 100%;
  height: auto !important;
  background: url("../img/screen-container.png") no-repeat top/100%;
  overflow: hidden;
}
/* line 346, _modules/_m-tabs.scss */
.screen-container:before {
  content: "";
  display: block;
  padding-top: 47%;
}
/* line 352, _modules/_m-tabs.scss */
.screen-container .tab-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5% 4.5%;
  padding-bottom: 0;
}
/* line 362, _modules/_m-tabs.scss */
.screen-container img {
  width: 100%;
  height: auto;
}

/*
 * Normal Tabs
 */
/* line 373, _modules/_m-tabs.scss */
.tabs-top li a {
  display: inline-block;
  vertical-align: bottom;
  background: #F5F7FA;
  color: #506a85;
  font-size: 14px;
  line-height: 130%;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px;
  border: 1px solid #ebe6e0;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
}
@media (max-width: 768px) {
  /* line 373, _modules/_m-tabs.scss */
  .tabs-top li a {
    width: 100%;
  }
}
/* line 394, _modules/_m-tabs.scss */
.tabs-top li.active a {
  color: #1abb9c !important;
}
@media (max-width: 768px) {
  /* line 399, _modules/_m-tabs.scss */
  .tabs-top li {
    float: none;
  }
}

/* line 405, _modules/_m-tabs.scss */
.tab-pane {
  background-color: #fff;
  padding: 2rem 3rem;
}

/* Thumbs
   ========================================================================== */
/* line 5, _modules/_m-thumbs.scss */
.thumbs.no-gap {
  margin-left: 0;
  margin-right: 0;
}
/* line 9, _modules/_m-thumbs.scss */
.thumbs.no-gap .thumb {
  padding: 0;
}
/* line 14, _modules/_m-thumbs.scss */
.thumbs.gap-xs {
  margin-left: -5px;
  margin-right: 0;
}
/* line 18, _modules/_m-thumbs.scss */
.thumbs.gap-xs .thumb {
  padding: 0 0 5px 5px;
}
/* line 23, _modules/_m-thumbs.scss */
.thumbs.gap-sm {
  margin-left: -10px;
  margin-right: 0;
}
/* line 27, _modules/_m-thumbs.scss */
.thumbs.gap-sm .thumb {
  padding: 0 0 10px 10px;
}
/* line 32, _modules/_m-thumbs.scss */
.thumbs.gap-md {
  margin-left: -20px;
  margin-right: 0;
}
/* line 36, _modules/_m-thumbs.scss */
.thumbs.gap-md .thumb {
  padding: 0 0 20px 20px;
}
/* line 41, _modules/_m-thumbs.scss */
.thumbs.gap-lg {
  margin-left: -30px;
  margin-right: 0;
}
/* line 45, _modules/_m-thumbs.scss */
.thumbs.gap-lg .thumb {
  padding: 0 0 30px 30px;
}
/* line 51, _modules/_m-thumbs.scss */
.thumbs .thumb figure {
  display: block;
  position: relative;
}
/* line 56, _modules/_m-thumbs.scss */
.thumbs .thumb .text-overlay {
  background-color: rgba(26, 187, 156, 0.9);
}

/* Video Container
   ========================================================================== */
/* line 4, _modules/_m-video-container.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
/* line 10, _modules/_m-video-container.scss */
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 18, _modules/_m-video-container.scss */
.video-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 26, _modules/_m-video-container.scss */
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Social
   ========================================================================== */
/* line 4, _modules/_m-social.scss */
.social {
  padding: 0;
  list-style: none;
}
/* line 9, _modules/_m-social.scss */
.social li {
  display: inline;
}
/* line 13, _modules/_m-social.scss */
.social li + li {
  padding-left: 0.5rem;
}

/* Carousel
   ========================================================================== */
/* line 5, _modules/_m-carousel.scss */
.carousel i.material-icons {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
/* line 12, _modules/_m-carousel.scss */
.carousel .img-full {
  min-width: 100%;
}

/* Sub Menu
   ========================================================================== */
/* line 4, _modules/_m-submenu.scss */
.sublinkmenu {
  float: left;
  padding: 0px 20px 0px 0px;
  border-right: 1px solid #ccc;
  margin: 0px 30px 20px 0px;
}

/* line 10, _modules/_m-submenu.scss */
.sublinkmenutitle {
  font-size: 26px;
  line-height: 130%;
  margin-bottom: 20px;
  display: block;
  font-family: 'Lato', 'sans-serif';
  font-weight: 700;
  color: #506a85;
}

/* line 19, _modules/_m-submenu.scss */
.sublinkmenu ul {
  padding: 0px;
  margin: 0px 0px 0px 20px;
  list-style: disc;
}

/* line 24, _modules/_m-submenu.scss */
.sublinkmenu ul li {
  line-height: 2em;
}

@media (max-width: 768px) {
  /* line 28, _modules/_m-submenu.scss */
  .sublinkmenu {
    float: none;
    padding: 0px;
    border-right: 0px;
  }
}
/* Image with Link
   ========================================================================== */
/* line 4, _modules/_m-imagelink.scss */
.img-responsive {
  margin-left: auto;
  margin-right: auto;
}

/* ==========================================================================
   Helper Classes
   ========================================================================== */
/* line 5, _base/_helpers.scss */
.row > .row {
  margin-left: 0;
  margin-right: 0;
}

/* line 10, _base/_helpers.scss */
.text-small {
  font-size: 16px;
  line-height: 160%;
}

/* line 15, _base/_helpers.scss */
.center-block {
  float: none !important;
}

/* line 20, _base/_helpers.scss */
.header p {
  font-size: 22px;
  line-height: 150%;
}

/* line 26, _base/_helpers.scss */
.bordered {
  border: 1px solid #ebe6e0;
  border-bottom-width: 2px;
  border-radius: 3px;
  padding: 25px;
  background: #f5f7fa;
}

/* line 34, _base/_helpers.scss */
.transform-center-y {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 40, _base/_helpers.scss */
figure img {
  width: 100%;
  height: auto;
}

/* line 45, _base/_helpers.scss */
.color--brand {
  color: #1abb9c;
}

/* line 49, _base/_helpers.scss */
.adobe-reader {
  margin-top: 8px;
}
@media (max-width: 768px) {
  /* line 49, _base/_helpers.scss */
  .adobe-reader {
    float: none !important;
  }
}
/* line 55, _base/_helpers.scss */
.adobe-reader img {
  margin-bottom: 5px;
}

/* ==========================================================================
   Responsive Styles
   ========================================================================== */
